
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .items {
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
  }
  .itemstitle {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .items:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
 