{% extends 'main/base.html'%}
{% block maincontent %}
<h1>Categories</h1>
<div class="container">
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'createcategory'%}" class="btn btn-info">Add Category</a>
    
    {% endif %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for c in categories %}
              <tr>
               <td>{{c.name}}</td>
               {% if user.is_authenticated and user.is_staff %}
               <td><a href="{% url 'editcategory' c.id %}" class="btn btn-info">Edit</a></td>
               <td><a href="{% url 'deletecategory' c.id %}" class="btn btn-info">Delete</a></td>
               {% else %}
               <td></td>
               <td></td>
               {% endif %}
              </tr>
            {% endfor %}
        </tbody>
          </table>
</div>
{% endblock %}

