{% extends 'main/base.html'%}
{% block maincontent %}
<h1>Tags</h1>
<div class="container">
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'createtag'%}" class="btn btn-info">Add Tag</a>
    {% endif %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tag</th>
          </tr>
        </thead>
        <tbody>
            {% for t in tags %}
              <tr>
               <td>{{t.tagword}}</td>
              </tr>
            {% endfor %}
        </tbody>
          </table>
</div>
{% endblock %}

